@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}
@layer base {
    :root {
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 215 14% 34%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 215 20% 24%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 215 3.7% 45.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
@layer components {
    .inputDarkModeOverride {
        &:-webkit-autofill {
            box-shadow: 0 0 0 30px #435267e6 inset;
            color: #fff !important;
        }

        &:-webkit-autofill:hover {
            box-shadow: 0 0 0 30px #435267e6 inset;
            color: #fff !important;
        }

        &:-webkit-autofill:focus {
            box-shadow: 0 0 0 30px #435267e6 inset;
            color: #fff !important;
        }

        &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #435267e6 inset;
            color: #fff !important;
        }
    }
}
#root {
    @apply min-h-screen;
}

.theme-transition {
    transition: background-color 0.2s ease-out, color 0.3s;
}

html.dark #root {
    @apply bg-gray-800;
}

.review {
    blockquote {
        font-weight: 500;
        font-style: italic;
        color: #333;
        margin: 0;
        padding: 0;
        border-left: 0.4rem solid #ccc;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .ql-code-block-container {
        background: #eee;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
    li {
        list-style-position: inside;
        padding-left: 1.5rem;
    }
    li[data-list="bullet"] {
        list-style-type: circle;
    }
    li[data-list="ordered"] {
        list-style-type: decimal;
    }
    li[data-list="bullet"] {
    }
    li[data-list="ordered"] .ql-ui {
        margin-right: 4px;
    }
}
html.dark .review {
    blockquote {
        color: #eee;
    }
    
}
html.dark .review .ql-code-block-container {
    @apply bg-gray-700;
    font-family: "Fira Code", monospace;
    color: #eee;
}